
  <mat-toolbar color="primary">
      <span>Material Blog</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>Login
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-icon-button class="example-icon dashboard" aria-label="Example icon-button with heart icon">
      <mat-icon>dashboard</mat-icon>Dashboard
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>Logout 
    </button>
  </mat-toolbar>

<table-dynamic-array-data-example ></table-dynamic-array-data-example>
